{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        {% endblock %}
    </title>
    <link rel="short cut icon" type="image/png" href="{% static 'images/estoque-pronto.png' %}">

    {% block css %} {# bloco para incluir CSS #}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block main %}
       {% block content %}
       {% endblock %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
    
</body>
</html>