{% extends '_layout1.html' %}

{% block head_title %}
    Controle de Trocas
{% endblock %}

{% block content %}
<h1 style="text-align: justify; font-size: 20px;">O objetivo do projeto é desenvolver um formulário dedicado ao controle e coleta de trocas. Esse formulário visa facilitar o registro e monitoramento das trocas realizadas, proporcionando uma maneira eficiente de gerenciar esse processo. Com ele, será possível registrar as informações pertinentes às trocas de forma organizada e acessível, otimizando a administração e acompanhamento dessa atividade.</h1>
{% endblock %}
